<div class="modal example-modal animated fadeIn">
    <div class="modal__panel animated fadeInUp">
        <span class="modal__close-button">&times;</span>

        <h3>{{{modalTitle}}}</h3>

        <p>{{{modalDescription}}}</p>

    </div>
</div>
