$ojai-text-color: #54575C;
$ojai-text-color-inverse: #fff;
$ojai-highlight-color: #FF5102;
$ojai-highlight-hover-color: #e84200;
$ojai-link-color: #808080;
$ojai-light-gray: #E0E0E2;

$ojai-error-color: red;
