<!DOCTYPE html>
<html lang="en">
{{> 'head/head'}}
<body>

    {{> 'site-header/site-header'}}

    <main class="site-main" role="main" tabindex="-1">
        {{{contents}}}
    </main>

    {{> 'site-footer/site-footer'}}

{{> 'site-scripts/site-scripts'}}

{{#if PRODUCTION}}
    {{> 'site-scripts/ga'}}
{{/if}}
</body>
</html>
