<section class="hero js-showNav">
    <div class="container">
        <div class="row center-xs has-no-gutter">
            <div class="col-xs-12">
                <div class="hero__image" style="background-image: url({{{heroImg}}})">
                    <h2 class="hero__heading">{{{heroHeading}}}</h2>
                    <button class="button button-inverted">{{{heroButtonText}}}</button>
                </div>
            </div>
        </div>
    </div>
</section>
