<footer class="site-footer" role="contentinfo">
    <div class="container">
        <div class="row has-no-gutter center-xs">
            <div class="col-xs">
                {{{copyright}}}
            </div>
        </div>
    </div>
</footer>
